<mat-toolbar color="primary">
    <span>La Gringa</span>

    <span class="espaciado"></span>


    <a mat-button routerLink=".">Pedidos</a>
    <a mat-button routerLink=".">Compras</a>
    <a mat-button routerLink=".">Ventas</a>
    <a mat-button routerLink=".">Productos</a>
    <a mat-button routerLink=".">Empleados</a>
    <a mat-button routerLink=".">Proveedores</a>
    <button mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">person</mat-icon>
    </button>


</mat-toolbar>